*{
    margin: 0;
    padding: 0;
}

body header nav{
    background-color: rgb(92, 198, 239);
    height: 80px;
    width: 100vw;
    margin: auto;
}
nav{
    display: flex;
    width: 80vw;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
}
.left{
    display: flex;
}
.myntra-logo{
    width: 53px;
    justify-content: center;
    align-items: center;
    height: 36px;
}
ul{
    display: flex;
}
.left div ul li{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    list-style: none;
    padding: 17px;
    
    justify-content: center;
    align-items: center;
    font-family: 'Assistant', sans-serif;
}
.left div ul li{
   
}
.left{
    height: 80px;
    margin-right: 0px;
}
.left div {
    transform: translate(-40px);
    
}
.search-button{
    /* height: 28px;
    width: 40px;
    box-sizing: content-box;
    background-color: #282c3f; */
    box-sizing: content-box;
    display: inline-block;
    height: 28px;
    width: 40px;
    text-align: center;
    padding: 8px 0 2px;
    background: #f5f5f6;
    border: 1px solid #f5f5f6;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(245, 245, 246);
    border-right: none;
    border-radius: 4px 0 0 4px;
    position: absolute;
    left: -41px;
}
.search-button-image{
    width: 20px;
    height: 20px;
}
.search-items{
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.right{
    justify-content: flex-end;
    display: flex;
    height: 80px;
}
.right div ul{
    justify-content: center;
    align-items: center;
    transform: translate(95px);
    
}

.right div ul li{
    /* text-transform: uppercase; */
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    list-style: none;
    padding: 17px;
    
    justify-content: center;
    align-items: center;
    font-family: 'Assistant', sans-serif;
    spa
}
#new-button{
    margin: 0px;
    padding: 0px;
    color: rgb(255, 5, 143);
    font-size: 10px;
    height: 12px;
    transform: translate(4px ,15px);
}
#studio-button{
    margin-right: 0px;
    padding-right: 0px;
}
footer div a{
    color: white;
    list-style-type: none;
    text-decoration: none;
}
.margin-auto{
    width: 80vw;
    margin: auto;
}
footer div div div p{
    font-size: 15px;
    padding-bottom: 5px;
}
footer{
    margin-top: 100px;
}
/* footer div div div{
    width: 155px;
    height: 430px; */

.online-shopping{
    background-color: red;
    width: 155px;
    height: 430px;
    padding-right: 20px;
}
#customer-policies{
    height: 297px;
    width: 162px;
    
}
.myntra-mobile{
    margin: 0;
    padding: 0;
    margin-top:15px ;
    background-color: red;
    /* justify-content: space-between; */
    width: 282px;
    height: 45px;
}
.keep-in-touch{

    height: 19px;
    width: 360px;
}
#facebook-image{
    background-color: red;
    width: 20px;
    height: 21px;
    margin-right: 15px;
}
#tweeter-image{
    background-color: red;
    height: 20px;
    width: 23.33px;
    margin-right: 15px;
}
#youtube-image{
    background-color: red;
    width: 28px;
    height: 23px;
    margin-right: 15px;
}
#insta-image{
    background-color: red;
    width:20px ;
}
#experience-myntra-mobile{
    display: flex;
    flex-direction: column;
    /* align-content: space-between; */
    
    width: 360px;
    height: 161px;
}
#product-return{
    background-color: red;
    width: 250px;
    height: 160px;
    flex-direction: column;
    justify-content: space-evenly;
}
.original-image{
    width: 48px;
    height: 40px;
}
.keep-in-touch-text{
    margin-top: 15px;
}