.flex{
    display: flex;
}
.align-item{
    align-items: center;
}
.justify-content{
    justify-content: center;
}
.container{
    justify-content: center;
    align-items: center;
}
.no-space{
    padding: 0px;
    margin: 0px;
}
.margin{
    width: 80vw;
    margin: auto;
}
.contact-us-blue{
    list-style-type: none;
    text-decoration: none;
}